.logo {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 40px;
}

.logo > img {
    width: 64px;
}

@media (width <= 1000px) {
    .login{
        width: 100%;
        max-width: 100%;
    }
}

.placeholder-item{
    display: flex;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    background: var(--accent-bg);
    border: 1px solid rgba(var(--accent), 0.15);
    color: var(--purple-accent);
    cursor: default;
}

.placeholder-item:hover{
    transform: scale(1.05);
}

.placeholder-item>h5{
    display: flex;
    align-items: center;
}

.placeholder-item>h5>span{
    margin-right: 10px;
    font-size: 2rem;
    color: var(--purple-light);
}

.greetings{
    display: flex;
    flex-direction: column;
    max-width: 600px;
}
.greetings h1{margin-bottom: 40px}
.greetings p{
    font-size: 24px;
    margin-bottom: 20px;
}
.greetings>.placeholder-item{
    margin: 10px 0;
}

@media (width >= 1000px) {
    .login{max-width: 600px}
}

.center-display .login {
    background: rgba(var(--accent), 0.1);
    padding: 30px 20px;
    border-radius: 12px;
    order: 2;
}
.center-display .greetings {order: 1;}

.icon{
        font-size: 1.0em;
        margin: 0 10px 0 0;
}

button[data-menu="balance"] {
    width: 100%;
    margin-top: 10px;
    padding: 6px 12px;
}