{% extends "base.html" %}
{% block title %}Администратор{% endblock %}
{% block content %}

	</div>
	
	<section class="admin-section animate-fade-in animate-delay-1">
		<div class="cardsContainer">
			<a href="/admin/add_balance" class="card center">
				<div class="column center">
					<h1 class="iconoir-money-square"></h1>
					<h4>Пополнение баланса</h4>
				</div>
			</a>
			<a href="/admin/pc" class="card center">
				<div class="column center">
					<h1 class="iconoir-laptop-charging"></h1>
					<h4>Просмотр ПК</h4>
				</div>
			</a>
		</div>
	</section>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/checkAdmin.js') }}?v=1.0.1" defer></script>
{% endblock %}
