{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div id="overlay"></div>
<section class="center menu" id="reset-password">
	<div class="column">
		<h4>Введите почту для восстановления пароля:</h4>
		<form id="reset-password">
			<input type="email" name="email" placeholder="E-mail">
			<button type="submit">Отправить</button>
		</form>
	</div>
</section>

<section class="center-display row between">
	<div class="login">
		<div class="logo">
			<img src="{{ url_for('static', filename='lib/ghonse.svg') }}" alt="ghonse">
			<h1 class="custom-text gradient-text">GameSense</h1>
		</div>
		<form id="loginForm">
			<input type="text" id="first_name" placeholder="Имя:" required class="none">
			<input type="text" id="last_name" placeholder="Фамилия:" required class="none">
			<input type="text" name="identifier" placeholder="E-mail:" required>
			<input type="password" name="password" placeholder="Пароль:" required>
			<div class="row">
				<button type="submit" style="flex-grow: 1;">Войти</button>
				<button class="outline-button">Регистрация</button>
			</div>
			<div class="row between">
				<a href="https://game-sense.ru" class="outline-button small"><span class="iconoir-home icon"></span>На главную</a>
				<a data-menu="reset-password"><h6 class="small">Забыли пароль?</h6></a>
			</div>
			<div><p class="accent-text center">Нет аккаунта? Нажмите "Регистрация" для создания нового профиля</p></div>
		</form>
	</div>
	<div class="pc greetings">
		<header>
			<h1>Добро пожаловать в <span class="gradient-text">GameSense</span></h1>
			<p class="accent-text">Премиальное гейминг пространство с лучшим оборудованием и атмосферой для настоящих геймеров</p>
		</header>
		<div class="placeholder-item"><h5><span class="iconoir-cpu"></span>RTX 3060ti, i5-12400f, 16GB RAM</h5></div>
		<div class="placeholder-item"><h5><span class="iconoir-wifi"></span>Гигабитный интернет с минимальным пингом</h5></div>
		<div class="placeholder-item"><h5><span class="iconoir-pc-mouse"></span>Беспроводные игровые девайсы</h5></div>
	</div>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/login.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/reset-password.js') }}" defer></script>
{% endblock %}