{% extends "base.html" %}
{% block title %}Компьютеры{% endblock %}
{% block content %}
<div id="dropdownContainer"></div>
<section>
    <header>
        <h2>Настройка <span class="accent-text">компьютеров</span></h2>
    </header>
	<div id="pcContainer" class="cardsContainer">
	</div>
</section>
<div id="busyPcContainer" class="busy-pcs-container"></div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/showPC.js') }}" defer></script>
<script>
	document.addEventListener('DOMContentLoaded', function() {
    // Родительский контейнер, в котором появляются элементы с dropdown
    const container = document.getElementById('pcContainer'); // Или 'dropdownContainer', если меню там
    
    // Обработчик кликов для всего контейнера
    container.addEventListener('click', function(event) {
        // Проверяем, был ли клик по элементу с атрибутом dropdown
    	const toggle = event.target.closest('[dropdown]');
    	if (toggle) {
    		const dropdownId = toggle.getAttribute('dropdown');
    		const dropdownMenu = document.getElementById(dropdownId);
    		if (dropdownMenu) {
                // Позиционируем меню рядом с курсором
    			positionDropdownAtCursor(dropdownMenu, event);
    			dropdownMenu.classList.toggle('show');
                event.stopPropagation(); // Чтобы не сработал window.click ниже
            }
        }
    });

    // Закрываем меню при клике вне его
    window.addEventListener('click', function(event) {
    	const allMenus = document.querySelectorAll('.dropdown-content');
    	allMenus.forEach(menu => {
    		if (!menu.contains(event.target)) {
    			menu.classList.remove('show');
    		}
    	});
    });

    // Функция для позиционирования меню рядом с курсором
    function positionDropdownAtCursor(menu, event) {
    // Получаем текущие стили меню
    // Получаем координаты курсора
        const x = event.clientX;
        const y = event.clientY;

    // Устанавливаем стили только если они еще не заданы
        const computedStyles = window.getComputedStyle(menu);

        if (computedStyles.getPropertyValue('position') === 'static') {
            menu.style.position = 'fixed';
        }
        if (computedStyles.getPropertyValue('left') !== '0px') {
            menu.style.left = `${x}px`;
        }
        if (computedStyles.getPropertyValue('top') !== 'auto') {
            console.log(computedStyles.getPropertyValue('top'))
            menu.style.top = `${y}px`;
        }

    // Проверяем, чтобы меню не выходило за границы окна
        const menuRect = menu.getBoundingClientRect();
        const windowWidth = window.innerWidth;
        const windowHeight = window.innerHeight;

        let adjustedLeft = x;
        let adjustedTop = y;

        if (x + menuRect.width > windowWidth) {
            adjustedLeft = windowWidth - menuRect.width;
        }
        if (y + menuRect.height > windowHeight) {
            adjustedTop = windowHeight - menuRect.height;
        }

        // if (menu.style.left !== `${adjustedLeft}px`) {
        //     menu.style.left = `${adjustedLeft}px`;
        // }
        // if (menu.style.top !== `${adjustedTop}px`) {
        //     menu.style.top = `${adjustedTop}px`;
        // }
    }
});
</script>
<script src="{{ url_for('static', filename='js/checkAdmin.js') }}?v=1.0.1" defer></script>
{% endblock %}