<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='roulette/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/states.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
  <title>Рулетка</title>
  <link rel="icon" href="{{ url_for('static', filename='lib/ghonse.svg') }}" type="image/x-icon">
</head>

<body class="full">
  <div id="custom-notification" class="notification"></div>
  <div id="app" v-cloak>
    <!-- status buttons-->
    <div class="game-status">

      <transition name="slide-fade">
        <div class="status-container" v-if="isToggle">
          <div class="times">CHANCE <span>[[time_remaining]]</span></div>
          <div class="buttons">
            <button class="btn btn-primary" :class="{'active':current_year===2017}"
              @click="setCurrentYear(2017)">2017</button>
            <button class="btn btn-primary" :class="{'active':current_year===2018}"
              @click="setCurrentYear(2018)">2018</button>
            <button class="btn btn-secondary" @click="restart">Restart</button>
          </div>
        </div>
      </transition>
    </div>

    <div class="lucky-wheel">
      <div class="pointer-container">
        <!-- pointer -->
        <div class="pointer" ref="pointer" id="pointer" :style="{'transform':rotate_deg,'transition': prize_transition}"
          @click="rotateHandler(num)">
        </div>
      </div>
      <!-- lucky wheel -->
      <div :class="containerClass">
        <div v-for="(item,index) in prizes" :key="item.name" ref="item" :class="itemClass">
          <div :class="contentClass">
            <i class="material-icons">
              [[item.icon]]
            </i>
            <span>[[item.name]]
              <span :class="countClass">[[item.count]]</span>
            </span>
          </div>
        </div>
      </div>

      <!-- display results -->
      <transition name="slide-fade">
        <div class="prize" v-if="isShow==isClicked">
          <div class="prize-container">
            <div class="prize-title">ВАШ</br> ПРИЗ!</div>
            <div class="prize-title">ТЫ ПОЛУЧИЛ...</br>
              <span class="prize-item">[[prize_name]]</span>
            </div>
            <div class="prize-background">
              <template v-for="(prizeIcon,index) in 9">
                <img src="https://pc.game-sense.ru/static/lib/ghonse.svg" alt="prize">
              </template>
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
  </div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.8/vue.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
  <script src="{{ url_for('static', filename='roulette/all.js') }}"></script>
  <script src="{{ url_for('static', filename='roulette/snowfall.js') }}"></script>
  <script src="{{ url_for('static', filename='js/notification.js') }}" defer></script>
</body>

</html>