{% extends "base.html" %}
{% block title %}Подтверждение{% endblock %}
{% block content %}
<section class="center-display">
    <h4 id="custom-notification" class="notification"></h4>
    <h4 id="email"></h4>
    <div id="send-code" class="row">
        <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
        <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
        <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
        <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
        <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
        <input type="text" maxlength="1" inputmode="numeric" pattern="[0-9]*" oninput="this.value=this.value.replace(/[^0-9]/g,'');">
    </div>
    <div class="row between">
        <button onclick="logout()"><span class="icon iconoir-arrow-left-circle-solid"></span></button>
        <button id="resendBtn" class="deactivate" style="flex-grow: 1;">Отправить снова</button>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/verify-code.js') }}" defer></script>
{% endblock %}